body{
  margin:0;
  padding:0;
  background:#ebdce1;
  font-family: serif;
  line-height:1.8;
}

.top-bar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:50px;
  background:#c83782;
}
.back{
  position:absolute;
  left:20px;
  top:50%;
  transform:translateY(-50%);
  width:15px;      
  height:auto;
}
.back:hover {
  opacity: 0.7;
}

.home{
  position:absolute;
  right:20px;
  top:50%;
  transform:translateY(-50%);
  font-size:22px;
  width: 35px;
}

.tree{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:1050px;
  transition:opacity 1.2s ease;
  z-index:10;
}

.tree.hide{
  opacity:0;
  pointer-events:none;
}


.article{
  max-width:1300px;
  margin:100px auto;
  padding:0 40px;
  font-size:20px;
 font-family:"Instrument Serif";
  opacity:0.2;
  transition:opacity 1.5s ease;
  top: 50px; 
  color:#025e70;
}


.article.show{
  opacity:1;
}
#darkoverlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background:#c83782;
opacity: 0.6;
  z-index:5;

  transition:opacity 1.2s ease;
}

#darkoverlay.hide{
  opacity:0;
  pointer-events:none;
}


a,
button,
.center-circle,
.text-ring,
body,
svg * {
  cursor: url("img/bluepmouse.png"), auto;
}
